<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clients Base Administration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('main.index') }}">Dashboard</a>
        <a href="{{ url_for('clients.new_client') }}">Add New Client</a>
        <a href="{{ url_for('calendar.calendar_view') }}">Calendar</a>
    </nav>
    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</body>
</html>
